Package: com.ps.emojiport10resources
Name: EmojiPort Resources (iOS 10+)
Depends: firmware (>= 10.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Necessary resources for EmojiPort iOS 10 and higher.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
